html {
    height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; /* Prevents iOS auto-zoom */
  margin: 0;
  padding: 4px;
  background-color: #f4f4f9;
}

.sun-editor .se-container {
  border: 1px solid #ddd;
  height: calc(100% - 8px);
  overflow-y: hidden;
}

/* #suneditor_editor {
  border: 1px solid #ddd;
  height: calc(100% - 8px);
  overflow-y: hidden;
} */

.se-container {
  height: calc(100% - 8px);
  overflow-y: hidden;
}

.se-toolbar,
.sun-editor-common {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* position: sticky;
  top: 0; */
  z-index: 1000;
  background-color: #fff;
}

.sun-editor .se-wrapper {
  padding-top: 0px;
}

@media screen and (max-height: 450px) {
  .se-toolbar,
  .sun-editor-common {
    position: absolute;
  }
}

/* .sun-editor .se-wrapper {
  height: calc(100% - 388px);
  overflow-y: auto;
} */

.sun-editor-editable {
  font-size: 16px;
  line-height: 1.25;
  padding: 8px;
}

.sun-editor-editable p {
  display: block;
  margin: 0 0 4px;
}

.sun-editor-editable ol,
.sun-editor-editable ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
